@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --navigation-main-menu-height: 6.8rem;

    @media (min-width: 768px) {
        --navigation-main-menu-height: 7.2rem;
    }

    @media (min-width: 1024px) {
        --navigation-main-menu-height: 7.6rem;
    }

    --navigation-compliance-bar-height: 3.6rem;
    --header-height: calc(var(--navigation-compliance-bar-height, 0rem) + var(--navigation-main-menu-height, 0rem) + var(--navigation-sub-menu-height, 0rem));
}

body {
    padding-top: var(--header-height, 0);
    background: #F2F2F2;
}

.responsible-gaming__top {
    align-items: center;
    background: #fff;
    border-radius: 0 0 2rem 2rem;
    display: grid;
    height: var(--navigation-compliance-bar-height, 0);
    padding: 0.1rem 0.3rem 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 110;
}

.ds-navigation {
    position: fixed;
    inset: 0;
    bottom: unset;
    z-index: 100;
    height: var(--header-height, 6.8rem);
    background: #003E99;
}
